<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Followers</div>
    </ons-toolbar>

    <div class="loading" ng-show="users">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="chats">

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="user in users"
                       ng-click="view('profile', {id: user.get('following').id})"
                       ng-include="'views/profile/partials/list.html'"></ons-list-item>

    </ons-list>
</ons-page>