<ons-page ng-controller="AnswerCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">{{ post.get('text') }}</div>
    </ons-toolbar>

    <div class="loading" ng-show="!post">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="timeline" ng-show="post">
        <ons-list-item class="timeline-li" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar>
        <form novalidate name="form">
            <ons-row>
                <ons-col>
                    <div style="margin: 5px 0px 0 5px;">
                        <input type="text" name="form.comment" required ng-maxlenght="140" class="text-input"
                               ng-model="text" placeholder="your answer" value="" style="width: 100%;">
                    </div>
                </ons-col>
                <ons-col align="right" width="45px">
                    <ons-button modifier="quiet" ng-click="sendComment()" ng-disabled="form.$invalid">
                        <ons-icon icon="ion-android-send" style="font-size: 28px;"></ons-icon>
                    </ons-button>
                </ons-col>
            </ons-row>
        </form>
    </ons-bottom-toolbar>

</ons-page>
</ons-bottom-toolbar>

</ons-page>