<div class="list-item-left">
    <img ng-src="{{ user.get('following').get('avatarSmall') }}" class="avator">
</div>
<div class="list-item-right">
    <div class="list-item-content">
        <div class="name">{{ user.get('following').get('full_name') }}
        </div>
    </div>
</div>