<div ng-controller="TimelineCtrl">
    <div class="question">
        <div  class="col question-avatar">
            <img class="timeline-image"
                 ng-src="{{ post.get('anonymous') ? 'images/anonymous.gif' : post.get('user').get('avatarSmall') }}"
                 ng-click="!post.get('anonymous') ? view('profile', { id: post.get('user').id }) : null">
        </div>

        <div class="col">
            <div class="timeline-date" am-time-ago="post.createdAt"></div>
            <div class="timeline-from">
                <div class="timeline-name"><a href>{{ post.get('anonymous') ? ('ANONYMOUS' | translate) : post.get('user').get('full_name') }}</a></div>
                <div class="timeline-id"> {{ post.get('category').get('translate') | translate }}</div>
            </div>
        </div>
    </div>


    <ons-row>
        <div class="timeline-text" compile="post.get('text') | hashtag">

        </div>
        <div class="image" ng-if="post.get('type') == 'image'" style="background-image: url({{ post.get('media').url() }})">
        </div>

        <div class="vote" ng-show="(post.get('type') == 'vote')">
            <ons-row style="background-color: #f8f8f8;">
                <ons-col align="center">
                    <div class="voteOpt" style="border-right: 2px solid #ddd;" ng-style="{ 'background-image': 'url(' + post.get('vote_picture_one').url()  + ')' }">
                    </div>
                </ons-col>
                <ons-col  align="center">
                    <div class="voteOpt" ng-style="{ 'background-image': 'url(' + post.get('vote_picture_two').url()  + ')' }">
                    </div>
                </ons-col>
            </ons-row>
        </div>
    </ons-row>


    <ons-row class="timeline-answer"  ng-show="false">
        <ons-col width="40px">
            <img ng-src="{{ post.get('best').get('user').get('avatarSmall') }}" class="avatar">
        </ons-col>
        <ons-col>
            <div class="answer-text" ng-if="post.get('touser') == null"><ons-icon icon="ion-trophy" size="14px"></ons-icon><span style="font-weight: bold; ">{{ 'BEST_ANSWER' | translate  }}:</span> {{ post.get('best').get('text') }}</div>
            <div class="answer-text" ng-if="post.get('touser') != null">{{ post.get('best').get('text') }}</div>

            <div class="answer-name">{{ post.get('best').get('user').get('full_name') }}</div>
        </ons-col>
    </ons-row>

    <div class="timeline-respond" ng-show="false">
        <div class="respond" ng-repeat="comment in post.get('comments')"><a href ng-click="view('profile', {id: comment.user.id})">{{ comment.user.full_name }}</a>  {{ comment.text }}</div>
    </div>


    <div class="timeline-action">

        <ons-button ng-class="{'post_liked': (post.get('likes') | searchUserLike:currentUser.id)}" ng-click="(post.get('likes') | searchUserLike:currentUser.id) ? unLikePost(post) : likePost(post)">
            <ons-icon icon="ion-arrow-up-c"></ons-icon>
            {{ post.get('likes').length }}
        </ons-button>

        <ons-button ng-click="view('question', {id: post.id})">
            <ons-icon icon="ion-reply"></ons-icon>
        </ons-button>

        <ons-button ng-click="deletePost(post, $index)" class="pull-right options" ng-if="(post.get('user').id === currentUser.id)">
            <ons-icon icon="ion-ios-trash-outline"></ons-icon>
        </ons-button>

    </div>

</div>
