<ons-page ng-controller="AccountCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">{{ 'ACCOUNT' | translate }}</div>
    </ons-toolbar>

    <ons-row class="profile-wrapper">
        <ons-col width="42px" class="profile-image-wrapper">
            <img ng-src="{{ currentUser.get('avatarSmall') }}" class="profile-image" id="profileImage">
        </ons-col>

        <ons-col>
            <div class="profile-name">{{ currentUser.get('full_name') }}</div>
            <div class="profile-email">{{ currentUser.get('email') }}</div>
        </ons-col>

    </ons-row>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item ng-click="view('profile', { id: currentUser.id })">
            {{ 'MY_PROFILE' | translate }}
        </ons-list-item>
    </ons-list>

    <div class="settings-header">{{ 'EDIT_ACCOUNT' | translate }}</div>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item ng-click="modalInfo.show();">
            {{ 'EDIT_PROFILE_INFO' | translate }}
        </ons-list-item>
    </ons-list>

    <div class="settings-header">{{ 'LANGUAGE' | translate }}</div>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="changeLanguage('en')">
            {{ 'ENGLISH' | translate }}
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="changeLanguage('pt-br')">
            {{ 'PORTUGUESE_BRAZIL' | translate }}
        </ons-list-item>
    </ons-list>

    <br>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="tappable" ng-click="logOut()">
            <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
            {{ 'SIGN_OUT' | translate }}
        </ons-list-item>
    </ons-list>

    <ons-modal var="modalInfo">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="modalInfo.hide()">Cancel
                        <ons-toolbar-button>
                </div>
                <div class="center">Edit Profile</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">

                <ons-list-item>
                    <input type="text" ng-model="info.first_name" class="text-input text-input--transparent"
                           placeholder="First Name" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <input type="text" ng-model="info.last_name" class="text-input text-input--transparent"
                           placeholder="Last Name" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <input type="text" ng-model="info.username" class="text-input text-input--transparent"
                           placeholder="Username" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <textarea ng-model="info.bio" class="textarea textarea--transparent" placeholder="Bio"
                              style="width: 100%; height: 100px;"></textarea>
                </ons-list-item>

            </ons-list>

            <div style="padding: 10px 9px">
                <ons-button modifier="large" style="margin: 0 auto;" ng-click="saveInfo()">
                    Save
                </ons-button>
            </div>


        </ons-page>
    </ons-modal>

    <ons-modal var="modalAvatar">
        <ons-page ng-controller="ComposeCtrl">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="modalInfo.hide()">Cancel
                        <ons-toolbar-button>
                </div>
                <div class="center">Edit Profile</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">

                <ons-list-item>
                    <input type="text" ng-model="info.first_name" class="text-input text-input--transparent"
                           placeholder="First Name" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <input type="text" ng-model="info.last_name" class="text-input text-input--transparent"
                           placeholder="Last Name" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <input type="text" ng-model="info.username" class="text-input text-input--transparent"
                           placeholder="Username" style="width: 100%">
                </ons-list-item>

                <ons-list-item>
                    <textarea ng-model="info.bio" class="textarea textarea--transparent" placeholder="Bio"
                              style="width: 100%; height: 100px;"></textarea>
                </ons-list-item>

            </ons-list>

            <div style="padding: 10px 9px">
                <ons-button modifier="large" style="margin: 0 auto;" ng-click="saveInfo()">
                    Save
                </ons-button>
            </div>


        </ons-page>
    </ons-modal>

</ons-page>