<ons-page ng-controller="CategoriesCtrl">
    <ons-toolbar>

        <div class="center">{{ 'SEARCH' | translate }}</div>
        <div class="right">
            <ons-toolbar-button ng-click="view('search')">
                <ons-icon icon="ion-ios-search-strong"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-item ng-repeat="category in categories">
                {{ category.get('translate') | translate }}
        </ons-list-item>
    </ons-list>

</ons-page>
