<ons-page ng-controller="ComposeCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">{{ 'ASK_QUESTIONS' | translate }}</div>
        <div class="right">
            <ons-toolbar-button ng-click="send()" ng-disabled="form.$invalid">
                <ons-icon icon="ion-android-done" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="loading" ng-show="load">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <form name="form" novalidate>
        <ons-list>

            <ons-list-item class="to-wrapper" ng-show="toUser">
                <ons-row>
                    <ons-col width="52px">
                        <img ng-src="{{ toUser.get('avatarSmall') }}" width="42" class="to-image">
                    </ons-col>
                    <ons-col>
                        <div class="to-name">{{ toUser.get('full_name') }}</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item style="padding: 0;">
                    <textarea ng-model="text" class="textarea textarea--transparent"
                                       placeholder="{{ 'ASK_SOMETHING' | translate }}" style="width: 100%; height: 100px;" required
                                       ng-maxlength="140"></textarea>
            </ons-list-item>

            <ons-list-item style="padding: 10px;" ng-show="image">
                <img ng-src="{{ 'data:image/jpeg;base64,' + image}}" style="width: 100%;">
            </ons-list-item>

            <ons-list-item style="padding: 10px;" ng-show="votePic" class="vote_option">
                <ons-row style="background-color: #f8f8f8;">
                    <ons-col align="center">
                        <div style="border-right: 2px solid #ddd; padding-top: 25%; padding-bottom: 25%" ng-style="{ 'background-image': 'url(data:image/jpeg;base64,' + optionPic.one  + ')' }">
                            <ons-button modifier="outline" style="margin: 20px" ng-click="getVotePic('one')">
                                <ons-icon icon="ion-ios-camera" style="opacity:0.4; font-size: 32px"
                                          ></ons-icon>
                                {{ 'CAMERA' | translate }}
                            </ons-button>
                            <ons-button modifier="outline" style="margin: 20px" ng-click="getVotePic('one', 2)">
                                <ons-icon icon="ion-ios-camera" style="opacity:0.4; font-size: 32px"
                                        ></ons-icon>
                                {{ 'PHOTO_ALBUM' | translate }}
                            </ons-button>
                        </div>
                    </ons-col>
                    <ons-col  align="center">
                        <div style=" padding-top: 25%; padding-bottom: 25%" ng-style="{ 'background-image': 'url(data:image/jpeg;base64,' + optionPic.two  + ')' }">
                            <ons-button modifier="outline" style="margin: 20px" ng-click="getVotePic('two')">
                                <ons-icon icon="ion-ios-camera" style="opacity:0.4; font-size: 32px"
                                          ></ons-icon>
                                {{ 'CAMERA' | translate }}
                            </ons-button>
                            <ons-button modifier="outline" style="margin: 20px" ng-click="getVotePic('two', 2)">
                                <ons-icon icon="ion-ios-camera" style="opacity:0.4; font-size: 32px"
                                        ></ons-icon>
                                {{ 'PHOTO_ALBUM' | translate }}
                            </ons-button>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item>
                <ons-row>
                    <ons-col align="center">
                        <ons-button modifier="quiet">
                        <ons-icon icon="ion-ios-camera" style="opacity:0.4; font-size: 32px"
                                  ng-click="getCamera()"></ons-icon>
                        </ons-button>
                    </ons-col>

                    <ons-col align="center">
                        <ons-button modifier="quiet">
                        <ons-icon icon="ion-image" style="opacity:0.4;"
                                  ng-click="getCamera(2)"></ons-icon>
                        </ons-button>
                    </ons-col>
                    <ons-col align="center">
                        <ons-button modifier="quiet">
                        <ons-icon icon="ion-podium" style="opacity:0.4; font-size: 32px "
                                  ng-click="setVotePic()"></ons-icon>
                        </ons-button>
                    </ons-col>
                </ons-row>
            </ons-list-item>

            <li class="list__item list__item--tappable">
                <label class="checkbox checkbox--list-item">
                    <input type="checkbox" ng-model="anonymous">

                    <div class="checkbox__checkmark
                checkbox--list-item__checkmark"></div>
                    {{ 'ASK_ANONYMOUSLY' | translate }}
                </label>
            </li>

            <li class="list__header">{{ 'CATEGORY' | translate }}</li>

            <ons-list ng-repeat="category in categories" class="list__item--tappable">
              <label class="radio-button">
                <input type="radio" required name="r" ng-model="$parent.selectedCategory" ng-value="category">
                <div class="radio-button__checkmark"></div>
                {{ category.get('translate') | translate }}
              </label>
            </ons-list>


        </ons-list>

    </form>

</ons-page>
