<ons-page ng-controller="ExploreCtrl">
    <ons-toolbar fixed-style>
        <div class="left"></div>
        <div class="center">
            <!-- segment control -->
            <div class="button-bar" style="margin:8px auto 0;">
                <div class="button-bar__item" ng-click="recents()">
                    <input type="radio" name="navi-segment-a" checked>

                    <div class="button-bar__button">Popular</div>
                </div>
                <div class="button-bar__item" ng-click="popular()">
                    <input type="radio" name="navi-segment-a">

                    <div class="button-bar__button">Recents</div>
                </div>
            </div>
        </div>
    </ons-toolbar>


    <ons-list class="timeline">
        <ons-list-item class="timeline-li" ng-repeat="post in posts" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
    </ons-list>

</ons-page>i" modifier="tappable" ng-repeat="post in posts" ng-include="'views/partials/timeline.html'">
</ons-list-item>
</ons-list>

</ons-page>