<ons-page ng-controller="FriendsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Friends</div>
    </ons-toolbar>

    <ons-list class="chats">

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="people in peoples"
                       ng-click="view('profile', {id: people.get('following').id})">
            <div class="list-item-left">
                <img ng-src="{{ people.get('following').get('avatarSmall') }}" class="avator">
            </div>
            <div class="list-item-right">
                <div class="list-item-content">
                    <div class="name">{{ people.get('following').get('full_name') }}
                    </div>
                </div>
            </div>
        </ons-list-item>
    </ons-list>
</ons-page>