<ons-page modifier="home" ng-controller="HomeCtrl" >
    
    <ons-pull-hook ng-action="friends($done)" var="loader">
        <span ng-switch="loader.getCurrentState()">
          <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
          <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
          <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
        </span>
      </ons-pull-hook>

    <ons-toolbar>    
        <div class="center">
            Asked
        </div>
        <div class="right toolbar-btns">
            <ons-toolbar-button ng-click="view('compose')">
                <ons-icon icon="ion-compose"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="navigation-bar nav-sub" ng-show="true">
        <div class="navigation-bar__center">

            <div class="tab-bar tab-bar--top tab-bar--top-border" style="display: table !important;">
              <label class="tab-bar__item tab-bar--top-border__item">
                  <input type="radio" name="tab-bar-c" ng-click="friends()" checked="checked">
                  <button class="tab-bar__button tab-bar--top-border__button">
                      <div class="tab-bar__label">{{ 'TAB_POPULAR' | translate }}</div>
                  </button>
              </label>

                <label class="tab-bar__item tab-bar--top-border__item">
                    <input type="radio" name="tab-bar-c" ng-click="recents()">
                    <button class="tab-bar__button tab-bar--top-border__button">
                        <div class="tab-bar__label">{{ 'TAB_RECENTS' | translate }}</div>
                    </button>
                </label>


            </div>

        </div>
    </div>


    <div class="loading" ng-show="!posts">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="timeline" ng-show="posts">
        <ons-list-item class="timeline-li"  ng-repeat="post in posts" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
        <ons-list-item class="infinity-scroll" ng-show="loadMore">
            <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        </ons-list-item>
    </ons-list>

</ons-page>
