<ons-page modifier="login" ng-controller="LoginCtrl">

    <div class="logo">
        <div class="blur"></div>
        <div style="display: table-cell; vertical-align: middle;">
            <img src="images/logo.svg" height="80" width="80" alt="" style=" background: #009688;
                                                                               padding: 8px;
                                                                               border-radius: 10%;"/>
        </div>
    </div>

    <div class="login-form">

        <h3>{{ 'INTRO_TITLE' | translate }}</h3>

        <h6>{{ 'INTRO_DESCRIPTION' | translate }}</h6>

        <form name="form">

            <ons-button modifier="large" class="login-button" ng-click="facebookLogin()" style="background: #3F51B5;">
                <ons-icon icon="ion-social-facebook"></ons-icon> Sign In with Facebook
            </ons-button>
        </form>

    </div>

</ons-page>