<ons-page ng-controller="NotificationsCtrl">
    <ons-toolbar>
        <div class="center">Notifications</div>
    </ons-toolbar>

    <ons-list class="chats">

        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="notification in notifications" ng-click="view('question', {id: notification.get('question').id})">
            <div class="list-item-left">
                <img ng-src="{{ notification.get('from_user').get('avatarSmall') }}" class="avator">
            </div>
            <div class="list-item-right">
                <div class="list-item-content">
                    <div class="name">{{ notification.get('from_user').get("full_name") }}
                    </div>

                    <span class="desc" ng-if="notification.get('type') == 'comment'">{{ 'ANSWERED_YOUR_QUESTION' | translate}}</span>
                    <span class="desc" ng-if="notification.get('type') == 'likes'">{{ 'LIKES_YOUR_QUESTION' | translate}}</span>

                </div>
            </div>
        </ons-list-item>

    </ons-list>
</ons-page>