<ons-page ng-controller="ProfileCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">{{ 'PROFILE' | translate}}</div>
    </ons-toolbar>

    <div class="profile-card">

        <img ng-src="{{ profile.get('avatarMedium') }}" class="profile-image">

        <div class="profile-name">{{ profile.get('full_name') }}</div>
        <div class="profile-desc">{{ profile.get('bio') }}</div>
        <div class="profile-options">
            <ons-button modifier="outline" ng-show="!isFollow" ng-click="follow(profile)">
                Follow
            </ons-button>
            <ons-button modifier="outline" ng-show="isFollow" ng-click="unFollow(profile)">
                Unfollow
            </ons-button>

            <ons-button modifier="outline" ng-click="view('compose', {user: profile})">
                Ask Me
            </ons-button>
        </div>

    </div>

    <ons-list>
        <ons-list-item>
            <ons-row>
                <ons-col class="info-col">
                    <div class="info-num">100</div>
                    <div class="info-unit">Questions</div>
                </ons-col>
                <ons-col class="info-col" ng-click="view('profile/following', { id: profile.id })">
                    <div class="info-num">100</div>
                    <div class="info-unit">Following</div>
                </ons-col>
                <ons-col class="info-col" ng-click="view('profile/followers', { id: profile.id })">
                    <div class="info-num">100</div>
                    <div class="info-unit">Followers</div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <div class="loading" ng-show="!posts">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="timeline" ng-show="posts">
        <ons-list-item class="timeline-li" ng-repeat="post in posts" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
    </ons-list>

    <br>


</ons-page>