<ons-page modifier="sub_bottom" ng-controller="QuestionCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">{{ 'ANSWERS' | translate }}</div>
    </ons-toolbar>

    <div class="loading" ng-show="!post">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="timeline" ng-show="post">
        <ons-list-item class="timeline-li" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
    </ons-list>

    <ons-list class="comments" ng-show="comments">
        <li class="list__header">{{ 'ANSWERS' | translate }}</li>
        <ons-list-item class="list-item-container" ng-repeat="comment in comments">
            <ons-row>
                <ons-col class="list-item-left" width="50px">
                    <img ng-click="!comment.get('anonymous') ? view('profile', { id: comment.get('user').id }) : null"
                         ng-src="{{ comment.get('anonymous') ? 'images/anonymous.gif' : comment.get('user').get('avatarSmall') }}" class="avator">
                </ons-col>
                <ons-col class="list-item-right" >
                    <div class="comment-date" am-time-ago="comment.createdAt"></div>
                    <div class="name">{{ comment.get('text') }}
                    </div>
                    <div class="desc">{{ comment.get('anonymous') ? ('ANONYMOUS' | translate) : comment.get('user').get('full_name') }}</div>
                    <div class="comment-action">
                            <ons-button modifier="outline" ng-class="{'post_liked': (comment.get('likes') | searchUserLike:currentUser.id)}" ng-click="(comment.get('likes') | searchUserLike:currentUser.id) ? unLikeComment(comment) : likeComment(comment)">
                                <ons-icon icon="fa-thumbs-o-up"></ons-icon>
                                {{ comment.get('likes').length || 0 }} {{ 'LIKE' | translate }}
                            </ons-button>

                            <ons-button ng-if="(currentUser.id == post.get('user').id) && (post.get('touser') == null)" modifier="outline" ng-class="{'post_liked': (post.get('best') | searchUserLike:currentUser.id)}" ng-click="setBestComment(comment)" >
                            <ons-icon icon="ion-trophy"></ons-icon>
                            {{ 'BEST_ANSWER' | translate }}
                            </ons-button>

                            <ons-button modifier="outline" ng-click="deleteComment(comment, $index)" class="pull-right options" ng-if="(comment.get('user').id === currentUser.id)">
                                <ons-icon icon="ion-ios-trash-outline"></ons-icon>
                            </ons-button>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-bottom-toolbar style="height: 88px;">
        <form novalidate name="form">
            <ons-row>
                <ons-col>
                    <div style="margin: 5px 0px 0 5px;">
                        <input type="text" name="form.comment" required ng-maxlenght="140" class="text-input"
                               ng-model="text" placeholder="your answer" value="" style="width: 100%;">
                    </div>
                </ons-col>
                <ons-col align="right" width="45px">
                    <ons-button modifier="quiet" ng-click="sendComment()" ng-disabled="form.$invalid">
                        <ons-icon icon="ion-android-send" style="font-size: 28px;"></ons-icon>
                    </ons-button>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-list style="width: 100%">
                    <li class="list__item list__item--tappable">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox" ng-model="anonymous">

                            <div class="checkbox__checkmark
                    checkbox--list-item__checkmark"></div>
                            {{ 'ANSWER_ANONYMOUS' | translate }}
                        </label>
                    </li>
                </ons-list>
            </ons-row>
        </form>
    </ons-bottom-toolbar>

</ons-page>
</ons-bottom-toolbar>

</ons-page>