<ons-page ng-controller="QuestionsCtrl">
    <ons-toolbar>
        <div class="center">Questions</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="ion-ios-delete"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="loading" ng-show="!posts">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    </div>

    <ons-list class="chats">
        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="post in posts"
                       ng-click="view('questions/answer', {id: post.id})">
            <div class="list-item-left">
                <img ng-src="{{ post.get('anonymous') ? 'images/avatar-hidden.png' : post.get('user').get('avatarSmall') }}"
                     class="avator">
            </div>
            <div class="list-item-right">
                <div class="list-item-content">
                    <div class="name">{{ post.get('anonymous') ? 'Someone' : post.get('user').get('full_name') }}
                        asked
                    </div>
                    <div class="desc">{{ post.get('text') }}</div>
                </div>
            </div>
        </ons-list-item>
    </ons-list>
</ons-page>