<ons-page ng-controller="SearchCtrl">
    <ons-toolbar>
      <div class="left">
          <ons-back-button></ons-back-button>
      </div>
        <div class="center">{{ 'SEARCH' | translate }}</div>
    </ons-toolbar>

    <div class="navigation-bar nav-sub">
        <div class="navigation-bar__center">
            <div style="margin: 5px">
                <form ng-submit="search()">
                    <input type="search" class="search-input" ng-model="txtSearch"
                   placeholder="Search..." style="width: 100%;" required>
                </form>
            </div>
        </div>
    </div>

        <ons-list class="timeline">
        <ons-list-item class="timeline-li" ng-repeat="post in posts" ng-include="'views/partials/timeline.html'">
        </ons-list-item>
    </ons-list>

</ons-page>
