<ons-page>
    <ons-tabbar var="tabbar">
        <ons-tab
                page="views/home.html"
                no-reload
                persistent
                label="{{ 'HOME' | translate }}"
                icon="ion-ios-home-outline"
                active="true">
        </ons-tab>

        <ons-tab
                no-reload
                persistent
                icon="ion-ios-search-strong"
                label="{{ 'SEARCH' | translate }}"
                page="views/categories.html">
        </ons-tab>


        <ons-tab
                no-reload
                icon="ion-ios-bell-outline"
                label="{{ 'NOTIFICATIONS' | translate }}"
                page="views/notifications.html">
        </ons-tab>

        <ons-tab
                no-reload
                icon="ion-android-menu"
                label="{{ 'ACCOUNT' | translate }}"
                page="views/account.html">
        </ons-tab>


    </ons-tabbar>
</ons-page>
