/*timeline*/

.reply-notification {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 0 4px;
    min-width: 15px;
}

.timeline {
    margin-top: 0px;
    margin-bottom: 0px;
    background: none;
}

.timeline-li {
  line-height: 18px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.48) !important;
  margin: 10px 0;
  background-color: #ffffff;
  padding: 0px 0;
}

.timeline-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 10px 0 0px;
}

.timeline .question{
    display: table !important;
    padding: 10px 10px;
}

.timeline .question .col{
    display: table-cell;
    vertical-align: top;
}

.timeline .question .question-avatar{
    width: 70px;
}

.timeline-date {
    float: right;
    font-size: 12px;
    opacity: 0.3;
    padding: 0 0px 0 0px;
}

.timeline-from {
    margin-bottom: 5px;
}

.timeline-name {
    font-size: 16px;
    padding: 0;
}

.timeline-id {
    font-size: 13px;
    opacity: 0.3;
    margin-top: 4px;
}

.timeline-text{
  line-height: 20px;
  font-size: 16px;
  margin: 0px 10px 10px 10px;
  width: 100%;
  padding: 0px;
}

.timeline .image{
    color: #ffffff;
    padding-top: 35%;
    padding-bottom: 35%;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    margin: 5px 0 px 0;
}

.timeline-text.image a{
    color: #ffffff;
}

.timeline-text .gradient{
    padding-top: 30%;
    padding-bottom: 30%;
    height: 100%;
}

.timeline .vote{
    width: 100%;
}

.timeline .vote .voteOpt{
    padding-top: 35%;
    padding-bottom: 35%;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.answer-text{
    line-height: 18px;
}

.timeline-respond{
    margin: 10px 0px 10px;
    font-size: 13px;
}

.timeline-respond .respond{
    margin-bottom: 2px;
}

.timeline-answer {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 10px 10px;
}

.timeline-answer .avatar{
    width: 32px;
    border-radius: 4px;
}

.timeline-answer .answer-name {
    font-size: 12px;
    opacity: 0.4;
    margin-top: 2px;
}

.timeline-answer .ons-icon{
    line-height: 0px;
    margin-right: 5px;
    color: #ab970b;
}

.timeline-action{
    padding: 10px;
}

.timeline-action .button{
  padding: 4px 10px;
  font-size: 12px;
  line-height: 0px;
  border: none;
  background: #DDD;
}

.comment-action .button--outline{
    padding: 0px 15px 0 0px;
    font-size: 12px;
    line-height: 20px;
    border: none;
    color: #999;
}

.timeline-action .button--outline.options, .comment-action .button--outline.options{
    border: 0;
    font-size: 16px;
}
.timeline-action .post_liked, .comment-action .post_liked{
    background: #607D8B;
    border: none;
}

.timeline-action .ons-icon{
    margin-right: 2px;
    line-height: 4PX;
}

.comment-action{
    margin-top: 10px;
}

.comment-date{
    float: right;
    font-size: 12px;
    opacity: 0.35;
    padding: 0px 5px 0 0px;
}

/*Login*/

.page--login__content{
}

.logo{
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: table;
    height: 50%;
}


.logo .blur {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    position: absolute;
    width: 110%;
    height: 110%;
    margin: 0;
    padding: 0;
    top: -5px;
    left: -5px;
    z-index: -1000;
}

.logo .ons-icon{
    font-size: 140px !important;
    color: #ffffff;
}

.login-form {
    text-align: center;
    width: 80%;
    margin: 0px auto 0;
    display: table;
    padding: 15px 10px 10px;
    height: 50%;
}

.login-form form{
    margin-top: 30px;
}

.login-form h3, .login-form h6{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.login-form h6{
    font-size: 13px;
    margin-top: 5px;
}

.login-form input[type=email], .login-form input[type=text], .login-form input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.login-form .login-button {
    width: 100%;
    margin: 0 auto;
}

.login-form .forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}

/*Profile*/
.profile-card {
    width: 100%;
    text-align: center;
    padding: 10px 0 15px;
    line-height: 1.4;
    background: #607D8B;
    color: #ffffff;
}

.profile-card .button--outline {
    color: #fff;
    border-color: #fff;
}

.profile-card .profile-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.profile-card .profile-name {
    font-size: 17px;
}

.profile-card .profile-desc {
    font-size: 14px;
    width: 90%;
    text-align: center;
    margin: 5px auto 10px auto;
}

.profile-card .profile-options {
    width: 90%;
    text-align: center;
    margin: 15px auto 0;
}

.profile-card .profile-options .button {
    padding: 0 10px;
}

.info-col {
    height: 60px;
    text-align: center;
    line-height: 1;
    padding: 12px 0 12px 4px;
}

.info-num {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

.info-unit {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.4;
}

/*Signup*/

.formarea {
    width: 90%;
    margin: 50px auto 0px auto;
}

.formarea .form-row {
    margin: 4px;
}

.formarea .width-full {
    width: 100%;
}

.formarea .width-half {
    width: 48%;
}

.formarea .lucent {
    opacity: 0.4;
}

.formarea .note {
    margin: 12px 8px;
    font-size: 14px;
}

.formarea .vspc {
    margin-top: 20px;
}

.formarea input[type=text],
.formarea input[type=password] {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Account*/

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-wrapper .profile-image {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-wrapper .profile-name {
    font-size: 14px;
    padding: 0 0 2px 0;
}

.profile-wrapper .profile-email {
    font-size: 15px;
    opacity: 0.4;
}

.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

/*Chats*/
.chats .list-item-container {
    line-height: 1;
    font-size: 14px;
    padding: 15px 0px 15px 15px;
}

.chats .list-item-left {
    width: 50px;
    margin-right: -50px;
    float: left;
}

.chats .list-item-right {
    width: 100%;
    float: right;
}

.chats .list-item-content {
    margin-left: 50px;
    margin-right: 30px;
}

.chats .avator {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.chats .name {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
}

.chats .desc {
    line-height: 16px;
}

.chats .lucent {
    opacity: 0.4;
}

/*compose*/
.to-wrapper {
    line-height: 1;
    height: 62px;
    padding: 10px;
}

.to-image {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.to-name {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
}

.to-email {
    font-size: 14px;
    opacity: 0.4;
}

.vote_option{
    line-height: 18px;
}

.vote_option .button--outline{
    padding: 0 10px;
    line-height: 28px;
    font-size: 12px;
    margin: 5px;
}

/*comment*/
.comments {
    margin-bottom: 0px;
}

.comments .list-item-container {
    line-height: 1;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

.comments .avator {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.comments .name {
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
}

.comments .desc {
    font-size: 12px;
    opacity: 0.4;
    margin-top: 2px;
}

.comments .lucent {
    opacity: 0.4;
}

.comments .comments-li {
    padding: 10px;
}

.comments ons-list-item > ons-icon {
    margin: 0 4px 0 0;
    opacity: 0.8;
}

.comments .ons-icon--ion{
    line-height: 0;
}


/*modifiers*/

.toolbar-button--padding {
    padding-right: 5px;
}

.page--bg-blue__content {
    background: url('http://www.pinsho.com/wp-content/uploads/2013/11/telegram01.jpg') !important;
    background-size: cover;
}

.page--sub_bottom__content{
    bottom: 88px !important;
}

/*custom*/

a {
    color: #1f1f21;
    text-decoration: none;
}


.list {
    border-top: none !important;
}

.textarea--transparent {
    padding: 10px;
}

.toolbar-btns .toolbar-button {
    padding: 4px 7px;
}

.loading {
    text-align: center;
    margin-top: 10px;
}

.bottom-bar{
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #1f1f21;
}


.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet{
    font-size: 22px;
}

.col-center{
    text-align: center;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.navigation-bar.nav-sub{
  background: #fff;
}
.radio-button{
  width: 100%;
}
